
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Ingredientes
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingredientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <table class="table">
                   
                    <tbody>
                      <tr *ngFor="let Ingrediente of listIngredientes">
                        
                        <td>{{Ingrediente.nombreIngrediente}}</td>
                        
                                               
                      </tr>

                      <tr *ngFor="let alimentox of listaliment">
                        
                        <td>{{alimentox.idalimentos}}</td>
                        
                                               
                      </tr>
                      
                    </tbody>
                  </table>         
            </div>
        
        </div>
    </div>
  </div>